.header {
  background-color: rgb(255, 255, 255);
}

.main1 {
  background-color: rgb(235, 243, 235);
}

.main2 {
  background-color: rgb(255, 255, 255);
}

.footer {
  background-color: rgb(180, 187, 180);
  height: auto;
}

.footerLogo {
  text-align: end;
}

.colunabotao {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 4rem;
}

.tamanhoNoticia {
  height: 7rem;
}

.colunaDropdown {
  text-align: end;
  margin-right: 4rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.input {
  max-width: 20rem;
}

.iconNavBar {
  background: transparent !important;
}

.video {
  display: flex;
  justify-content: center;
}

.descricaoFilme {
  font-size: 0.9rem;
}

.h1Titulo {
  text-align: center;
}

.caixa1 {
  display: flex;
  justify-content: center;
}

.boxDestaque {
  text-align: center;
  margin-top: 2rem;
}

.imgDestaque {
  width: 10rem;
  height: 15rem;
}

.avaliacaoDescricao {
  font-size: 0.8rem;
}

.data {
  font-size: 1rem;
}

.descricaoEntrevistas {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 2rem;
}

.boxEntrevistas {
  margin-top: 2rem;
}

.espacoIcon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.tamanhoTexto {
  font-size: 0.74rem;
}

.divImgNovidades {
  background-color: #fc0;
  width: 14rem;
  height: 10rem;
  margin-right: 0.8rem;
}

.imgNovidades {
  width: 14rem;
  height: 8rem;
  margin-right: 0.8rem;
}

.iconEditorial {
  margin-right: 0.3rem;
}

.divImgAvaliador {
  display: flex;
  flex-direction: row;
}

.imgAvaliador {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: rgb(0, 0, 0) 1px solid;
  margin-right: 0.8rem;
}

.estrelas input[type="radio"] {
  display: none;
}
.estrelas label i.fa {
  font-size: 2.5em;
}
.estrelas label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrelas input[type="radio"]:checked ~ label i.fa:before {
  color: #fc0;
}

.estrelas input[type="radio"]:hover ~ label i.fa:before {
  color: #fc0;
}

.estrelas1 input[type="radio1"] {
  display: none;
}
.estrelas1 label i.fa {
  font-size: 0.8em;
}
.estrelas1 label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrelas1 input[type="radio1"]:checked ~ label i.fa:before {
  color: #ccc;
}

.estrelas1 input[type="radio1"]:hover ~ label i.fa:before {
  color: #ccc;
}

@media (max-width: 992px) {
  .tamanhoSinopse {
    flex: none;
    max-width: 40rem;
  }
  .video {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 425px) {
  .tela {
    width: 15rem;
    height: 13rem;
  }
  .tamanhoSinopse {
    flex: none;
    max-width: 20rem;
  }

  .estrelas input[type="radio"] {
    display: none;
  }
  .estrelas label i.fa {
    font-size: 1.5em;
  }
  .estrelas label i.fa:before {
    content: "\f005";
    color: #fc0;
  }
  .estrelas input[type="radio"]:checked ~ label i.fa:before {
    color: #fc0;
  }

  .estrelas input[type="radio"]:hover ~ label i.fa:before {
    color: #fc0;
  }
}

@media (max-width: 767px) {
  .divImgAvaliador {
    flex: none;
  }
  .avaliacaoDescricao {
    width: auto;
  }
  .divisaoSobre {
    width: auto;
  }
  .divInfoNoticias {
    width: auto;
  }
}
