.header {
  background-color: #fc0;
}

.main1 {
  background-color: rgb(29, 175, 49);
}

.main2 {
  background-color: rgb(136, 125, 125);
}

.footer {
  background-color: #fc0;
  height: 6rem;
}

.footerLogo {
  text-align: end;
}

.colunabotao {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 4rem;
}

.tamanhoNoticia {
  height: 7rem;
}

.colunaDropdown {
  text-align: end;
  margin-right: 4rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.input {
  max-width: 20rem;
}

.iconNavBar {
  background: transparent !important;
}

.video {
  background-color: red;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.descricaoFilme {
  font-size: 0.9rem;
}

.h1Titulo {
  text-align: center;
}

.caixa1 {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.boxDestaque {
  text-align: center;
  margin-top: 2rem;
}

.imgDestaque {
  width: 10rem;
  height: 15rem;
}

.avaliacaoDescricao {
  font-size: 0.8rem;
}

.data {
  font-size: 1rem;
}

.descricaoEntrevistas {
  margin-right: 4rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.boxEntrevistas {
  background-color: red;
  width: 10rem;
  height: 15rem;
  text-align: center;
  margin-right: 4rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

.espacoIcon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.tamanhoTexto {
  font-size: 0.74rem;
}

.divImgNovidades {
  background-color: #fc0;
  width: 14rem;
  height: 10rem;
  margin-right: 0.8rem;
}

.imgNovidades {
  width: 14rem;
  height: 8rem;
  border: red 1px solid;
  margin-right: 0.8rem;
}

.iconEditorial {
  margin-right: 0.3rem;
}

.divImgAvaliador {
  display: flex;
  flex-direction: row;
}

.imgAvaliador {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: red 1px solid;
  margin-right: 0.8rem;
}

.estrelas input[type="radio"] {
  display: none;
}
.estrelas label i.fa {
  font-size: 2.5em;
}
.estrelas label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrelas input[type="radio"]:checked ~ label i.fa:before {
  color: #ccc;
}

.estrelas input[type="radio"]:hover ~ label i.fa:before {
  color: #ccc;
}

.estrelas1 input[type="radio1"] {
  display: none;
}
.estrelas1 label i.fa {
  font-size: 0.8em;
}
.estrelas1 label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrelas1 input[type="radio1"]:checked ~ label i.fa:before {
  color: #ccc;
}

.estrelas1 input[type="radio1"]:hover ~ label i.fa:before {
  color: #ccc;
}
